* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    
     .cards-container{ /*container pai*/
        display: flex;
        position: relative;
        top:60px; left:60px;
        justify-content: space-around;
        box-sizing: border-box;
        width:500px;
        height:400px;
        padding:30px;
        border: 2px solid #1c0332; 
        background-color: blue;
        perspective: 1000px;
    }  

    .flipper-card{ /*filho*/
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.8s;
        position: relative;
        
    }

    .cards-container:hover .flipper-card{
        transform: rotateY(180deg);
    }

    .card-img{
        width:300px;
        height:400px;
        border-radius: 20px;
        border:5px solid #454446;

    }

    .front, .back{
        
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .back{
        transform: rotateY(180deg);
    }

    /* .style-container{
            display: flex;
            border: 5px solid ;
            padding: 10px;
            border:3px solid black;
            max-width: 200px; /*não mexer nessa medida
            margin-right: 10px;*/
    

    img{
        width:300px;
        height:400px;
    }