*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


body{
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("img/vodu.jpg");
}

.logo{
    height: 100px;
    width:100px;
    align:center;
    margin-top: 0%;
    margin-left: 5%;
    }

 header{
    width: 100%;
    background-color: #1c0332;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10;
    }

.container-logo-menu{

display: flex;
align-items: left;
        
}

menu{
display: inline-block;
padding: 10px 15px;
}

.menu li{
display: inline-block;
margin: 0 20px;
}

.menu li a{
font-size: 15px;
text-decoration: none;
color: antiquewhite;
font-family: "Constantia";
font-size: 10px;
text-transform: uppercase;
padding: 2px 2px;
border-radius: 10px;
justify-content: space-around;

}


.menu li a:hover{
background-color: rgba(90, 90, 90, 0.4);
}


.footer{
background-color: #1c0332;
display: flex;
justify-content: center;
padding: 15px 15px;
position: absolute;
bottom: 0;
width: 100%;

}

.footer p{
    font-family: Arial, Helvetica, sans-serif;
    color:antiquewhite;
    font-size: 10px;
    text-align:center;
}


.menu-audio{ 
display: flex;
justify-content: right;
width: 90;
height: 600;
}




footer{
font-family: Arial, Helvetica, sans-serif;
color:antiquewhite;
font-weight: bold;
font-size: 15px;
text-align:center;
}